body {
    margin: 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
#gameContainer {
    position: relative;
}
#gameTitle {
    text-align: center;
}
/* Colore del BG */
#gameCanvas {
    background-color: #f2f2f2;
}

/* Colore delle palline */
#gameCanvas .ball {
    fill: #ff0000;
}

/* Colore e Dimensioni del personaggio */
#gameCanvas .player {
    fill: #0000ff;
}
.container-score {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.container-score #ball-counter {
    
}
.container-score #score {}
#finalScore {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 / 70%);
	z-index: 5;
	height: 100%;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 30px;
	text-transform: uppercase;
}
#play-again-button {
    z-index: 10;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
	font-size: 20px;
}